# Python caches
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build outputs
build/
dist/
*.spec

# Virtual environments
venv/
.venv/
env/
.env

# Binary Executables (Recommended to exclude from git, use GitHub Releases instead)
Pedefeador.exe

# IDE files
.vscode/
.idea/
